.root {
    --blue:#007bff;
    --indigo:#6610f2;
    --purple:#6f42c1;
    --pink:#e83e8c;
    --red:#dc3545;
    --orange:#fd7e14;
    --yellow:#ffc107;
    --green:#28a745;
    --teal:#20c997;
    --cyan:#17a2b8;
    --white:#fff;
    --gray:#6c757d;
    --gray-dark:#343a40;
    --primary:#007bff;
    --secondary:#6c757d;
    --success:#28a745;
    --info:#17a2b8;
    --warning:#ffc107;
    --danger:#dc3545;
    --light:#f8f9fa;
    --dark:#343a40;
    --breakpoint-xs:0;
    --breakpoint-sm:576px;
    --breakpoint-md:768px;
    --breakpoint-lg:992px;
    --breakpoint-xl:1200px;
}

.navbar-brand {
    background-image:"/img/logo1.png";
    border:dotted 2px rgb(94, 12, 94);
    border-radius:10% / 100%;
    box-sizing:content-box;
    margin-left: 10%;
    margin-right:10%;
}

.carousel-inner {
    box-sizing: content-box;
    border:solid 1px;
    border-color:purple;
    border-radius:100px 0px 100px 0px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.carousel-item {
    box-sizing: border-box;
}

.img-fluid {
    height: 300px;
    width: 100%;
}

.display-2 {
    box-sizing: content-box;
    height: auto;
}

.jumbotron {
    box-sizing:content-box;
    display:flexbox;
    flex:auto;
    flex-direction:column;
    text-align:center;
    border-radius:10% / 100%;
}

.introduction {
    box-sizing: border-box;
    font-size:50px;
    color:green;
    background-color:black;
    text-align:center;
    border:solid 5px green;
    border-radius:100px 100px 100px 0px;
    width: 80%;
    height: 80%;
    margin-left: 9%;
    margin-right: 10%;
    padding: 10%;
}